# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vscode
*.vs

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
obj/

# NuGet Packages
*.nupkg
packages/
*.lock.json
*.nuget.props
*.nuget.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/bin/
**/obj/
**/out/
**/Debug/
**/Release/
**/node_modules/
**/bower_components/
**/typings/
**/.vscode/
**/.vs/
**/.idea/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.log
**/*.vspscc
**/*.vssscc
**/packages/
**/*.bak
**/*.cache
**/*.dbmdl
**/*.dbproj.schemaview
**/*.pfx
**/*.publishsettings
**/ipch/
**/obj/
**/sql/
**/TestResults/
**/UpgradeLog*.XML
**/UpgradeLog*.htm
**/Service References/
**/Generated_Code/

# Ignore the .NET Core Tools folder when using Visual Studio 2017 or later.
# Uncomment if using VS2017 or later.
#.NETCoreTools/
